.admin-product
  padding: 35px 0
  border-bottom: 1px dashed #3f4e6538
  &:nth-last-child()
    border-bottom: 0
  &__input-group
    margin-bottom: 25px

    margin-bottom: 25px
  &__label
    display: block
    margin-bottom: 5px
  &__input
    max-width: 320px
    width: 100%
    border-radius: 5px
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%)
    border-radius: 1000px
    font-size: 16px
    line-height: 15px
    color: #3F4E65
    padding: 5px 15px
