@use 'sass:math'
@use 'sass:color'

@import config

@import components/header
@import components/footer
@import components/breadCrumbs
@import components/sort
@import components/tags
@import components/sideBar
@import components/catalogProduct
@import components/product
@import components/order
@import components/admin

$dark: #111111
$grey: #3F4E65
$accent: #FFC85E
$accent-dark: #F3A50D

hr
    opacity: 0.3
    border: 1px dashed #3F4E65
    background: none
    margin: 20px 0

.app-btn
    background: #FFC85E
    padding: 21px 54px 22px 54px
    border-radius: 79px
    color: #fff
    border: none
    display: inline-block
    font-family: 'Inter'
    font-style: normal
    font-weight: 700
    font-size: 14px
    line-height: 17px
    &__icon
        margin-left: 12px
    &:hover
        color: #fff

.page-top
    .page-title
        font-family: 'Inter'
        font-style: normal
        font-weight: 500
        font-size: 40px
        line-height: 120%
        text-transform: uppercase
        color: #111111

    .catalog-block
        display: flex
        align-items: center
        justify-content: flex-end

.display-block
    margin-left: 20px
    width: 100px
    height: 45px
    background: rgba(188, 166, 122, 0.2)
    border-radius: 1000px
    display: flex
    align-items: center
    position: relative
    &__icon
        position: absolute
        right: 5px
        width: 49px
        height: 37px
        background: #FFFFFF
        border-radius: 1000px
        display: flex
        align-items: center
        justify-content: center
        border: none
    &__hamburger
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        height: 22px
        left: 14px
        border: none
        background: none
    &__line
        opacity: 0.3
        width: 14px
        height: 2px
        background-color: #3F4E65
        position: relative
    &__line::after
        content: ''
        display: block
        position: absolute
        top: -5px
        height: 2px
        width: 100%
        background-color: #3F4E65
    &__line::before
        content: ''
        display: block
        position: absolute
        bottom: -5px
        height: 2px
        width: 100%
        background-color: #3F4E65

.main-content
    margin-top: 30px

@import media
